* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
}


.header {
    background-color: rgb(210, 40, 40);
    padding-top: 36px;
    padding-bottom: 206px;
}


.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(197, 123, 33);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(25, 24, 24);
    font-weight: bold;
}


.navigation-holder {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

.nav-links a {
    text-decoration: none;
    color: rgb(251, 152, 32);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
}